body {
  background-color: #25282a;
}
label {
  cursor: pointer;
}
div,
p {
  margin: 0px;
}
.container {
  margin: 0 auto;
  width: 50vw;
}

.image-container .figure {
  width: 20%;
  float: left;
}

.image-container .image {
  width: 500%;
  line-height: 0;
}
.mem-image {
  width: 100%;
  height: 40vw;
}
.mem-text {
  color: white;

  font-size: 30px;
}
.overflow-hidden {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.slider-number {
  float: right;
}

.slider-number {
  margin-left: 20px;
}

.container input {
  display: none;
}

#slider1:checked ~ .image-container .image {
  margin-left: 0;
}

#slider2:checked ~ .image-container .image {
  margin-left: -100%;
}

#slider3:checked ~ .image-container .image {
  margin-left: -200%;
}

#slider4:checked ~ .image-container .image {
  margin-left: -300%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  border-radius: 10px;
  display: flex;
  width: 17px;
  height: 17px;
  background: #76c8ff;
  border: 2px solid #76c8ff;
}

#active {
  /*расположение блока с переключателями*/
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  background: #fefefe;
  border: 2px solid #fefefe;
}

/*цвет активного лейбла при активации чекбокса*/
#slider1:checked ~ #active .active1,
#slider2:checked ~ #active .active2,
#slider3:checked ~ #active .active3,
#slider4:checked ~ #active .active4 {
  background: none;
  border: 2px solid #76c8ff;
}
#slider1:checked ~ #active .active1:hover,
#slider2:checked ~ #active .active2:hover,
#slider3:checked ~ #active .active3:hover,
#slider4:checked ~ #active .active4:hover {
  border: 2px solid #fefefe;
}
.image-container .image {
  transition: all 800ms;
}
